#visualizer {
    width: 100%;
    height: 60vh;
    position: relative;
    margin: 1em auto;
}

.canvas-container, .canvas-container canvas {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

#waveform-container {
    /* allow space to draw the x-axis and y-axis labels 'outside' the visualizer */
    height: min(100% - 20px, 95%);
    width: min(100% - 35px, 96.5%);
}

#grid-layer {
    z-index: 1;
}
#waveform-layer {
    z-index: 2;
}

#controls {
    display: inline-flex;
    flex-direction: column;
    padding: 1em;
    border: 0.1em solid black;
    background-color: red;
}
