#visualizer {
    width: 100%;
    height: 70vh;
    position: relative;
    margin: 1em auto;
}

#visualizer canvas {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

#inset-rect {
    position: absolute;
    visibility: hidden;
}

#inset-rect, #visualizer canvas.inset-layer {
    /* allow space to draw the x-axis and y-axis labels 'outside' the visualizer */
    height: min(100% - 20px, 95%);
    width: min(100% - 35px, 96.5%);
}

#background-layer {
    z-index: 1;
}
#waveform-layer {
    z-index: 2;
}
#grid-layer {
    z-index: 3;
}

#controls-container {
    text-align: center;
}

#controls {
    display: inline-flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    border: 0.1em solid black;
    background-color: #49a440;
}

.control-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1em;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    line-height: 1.5rem;    /* vertical center inline (text) elements */
}

.control-row * {
    height: 100%;
}

.control-row button {
    display: inline-block;
    border: 0.1em solid black;
    cursor: pointer;
}

.control-row label, .control-row button {
    font-family: Arial;
}

.control-row-group {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25em;
}

.control-row-group * {
    height: 100%;
}

#audio-source {
    display: inline;
}

.active-domain {
    background-color: #ac3fc4;
}


