* {
    box-sizing: border-box;
}

html, body {    
    height: 100%;   /* allows footer to stay on bottom */
}

html.smooth-scroll {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    margin: 0;
}

.content h1 {
    font-size: 2.5em;
}
.content h2 {
    font-size: 1.85em;
}
.content h3 {
    font-size: 1.5em;
}
.content h4 {
    font-size: 1.25em;
}
.content p, .content a, .content ul li {
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: unset;
}

#page-wrapper {
    min-height: 100%;
    margin-bottom: -50px;   /* leave space for footer */
}

footer, #push {
    height: 50px;
}

footer {
    position: relative; /* to center footer p */
    width: 100%;
    box-shadow: 0px -5px 5px #ccc;
}

footer, .topnav {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    background-color: white;
}

footer p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    margin: 0;
}

header {
    display: block;
    height: 400px;
    background-size: cover;
    background-position: center center;
    width: 100%;
}

.topnav {
    /*position: -webkit-sticky;*/ /* Safari */
    /*position: sticky;*/
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: 0px 5px 5px #ccc;
    list-style-type: none;
    z-index: 2; /* above .card a */
}

.topnav li {
    float: left;
    position: relative;
}

.topnav li a {
    display: block;
    padding: 0 0.75rem;
    text-align: center;
    font-size: 1.25rem;
    color: black;
}

.topnav li, .topnav li a {  
    height: 3rem;
    line-height: 3rem;  /* vertical center */
}

.topnav li:first-child a {      /* 1st link in .topnav */
    font-weight: bold;
    padding: 0 1.5rem;
    white-space: nowrap;
}

.topnav li:first-child a:after {/* divider between 1st and 2nd link in .topnav */
    content: "";
    border-right: 1px solid #ccc;
    position: absolute;
    height: 70%;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.topnav li:first-child + li a { /* 2nd link in .topnav */
    padding-left: 1.5rem;
}

.topnav li a:hover {
    color: green;
}

.content {
    margin: 50px auto;
    width: 85%;
    max-width: 800px;
}

#home-content { /* override content dimensions for the home page */
    max-width: unset;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3em;
    width: 100%;
}

/* ------------ Project Card ------------ */

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 100%;
    min-height: 15rem;
    color: black;
    padding: 1.75em;
    /*background-color: #80cb7a;*/ /* light green */
    background-color: #91c48d; /* light green */
    border: 1px solid #333;
    box-shadow: 0px 2px 5px #999;
    transition: 0.5s ease;
    text-align: center;
}

.project-card-title, .project-card-desc {
    display: flex;
    flex-direction: column;
    min-height: 6em;
    text-align: center;
    justify-content: center;
}

.project-card-title h1 {
    margin: 0;
}

.project-card:hover {
    box-shadow: 0px 7px 15px #999, 0px 2px 5px green;
/*    color: green;*/
    cursor: pointer;
    background-color: #45aa3d; /* dark green */
}

.project-card:hover .clickable-card-link {
    /*color: #d96a20;*/ /* dark orange*/
    border-color: #d96a20; /* dark orange*/
}

.project-card a.clickable-card-link {
    border: 0.1em solid #333;
    border-radius: 0.2em;
    color: black;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.3s ease;
    display: inline-block;
}

.project-card a.clickable-card-link:hover {
    color: white;
    border-color: #d96a20; /* dark orange*/
    background-color: #d96a20; /* dark orange */
    cursor: inherit;
}

/* ------------ Index Card ------------ */

.index-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 20rem;
    color: white;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    padding: 1.75em;
    outline: 1px solid #333;
    box-shadow: 5px 5px 5px #999;
    transition: 0.3s ease;
    text-align: center;
    overflow: hidden;
}

.index-card img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    z-index: -1;
}

#projects-card img {
    object-position: center left;
    filter: blur(1px);
}

.index-card::after {    /* pseudo-element for gradient overlay*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
/*    background-color: rgba(0, 0, 0, 0.1);*/
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.6) 100%
    );
}

.index-card:hover {
    box-shadow: 7px 7px 15px #999, 2px 2px 5px green;
    color: green;
    cursor: pointer;
}

/* ------------ Accordion ------------ */

.accordion {
    background-color: #91c48d;  /* light green */
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    font-size: 1.5em;
    transition: 0.4s;
}

.accordion::after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.accordion:hover, .accordion-active {
    background-color: #45aa3d;  /* dark green */
}

.accordion-active::after {
    content: "\2212";
}

.accordion-panel {
    overflow: hidden;
    max-height: 0;
    margin: 0;
    transition: max-height 0.5s ease-out;
}

/* ------------ Courselist ------------ */

#courses-desc {
    margin-bottom: 3em;
}

.courselist {
    list-style-type: none;
    padding: 0;
}

.courselist li * {      /* clear the margin on every child of each list item */
    margin: 0;
}

.courselist p {
    margin-top: 1em;
    padding-left: 1em;
    font-size: 1em;
}

.courselist a {
    display: block;
    padding: 1em;
    color: black;
}

.courselist li:hover {
    background-color: #e09a72;  /* light orange */
    transition: 0.3s ease-out;
}

.courselist li:active {
    background-color: #d96a20;  /* dark orange */
}

/* ------------ Media Rules ------------ */

@media screen and (max-width: 768px) { 
    /* change the splash cards to a single column */
    .grid-container {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 670px) {  
    
    /* smaller font size */
    .content h1 {
        font-size: 1.75em;
    }

    .content h2 {
        font-size: 1.5em;
    }

    .content h3 {
        font-size: 1.25em;
    }

    .content h4 {
        font-size: 1em;
    }

    .content p, .content a {
        font-size: 1em;
    }
    
    /* change the top nav menu to vertical buttons */
    .topnav {
        position: unset;
    }
    .topnav li {
        float: none;
        width: 100%;
        border-top: 1px solid #ddd;
    }
    .topnav li a {
        padding: 0.25rem 0.75rem !important;
    }
    .topnav li, .topnav li a {  /* smaller menu items */
        height: unset;
        line-height: unset;
    }
    .topnav li:first-child a:after {    /* no divider after 1st item */
        content: none;
    }
}