/* Stylesheet to correctly display elements when javascript is disabled */


/* make the entire card clickable */
.clickable-card .clickable-card-dest { 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/* make the entire carousel card clickable*/
.carousel-card a.clickable-card-dest {
    all: initial;
    cursor: pointer;
    color: transparent; /* don't display "View" content */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/* change the accordion header to dark green */
.accordion {
    background-color: #45aa3d; /* dark green */
}

/* remove the +/- symbol at the end of the accordion header */
.accordion::after {
    content: none;
}

/* open the accordion */
.accordion-panel {
    max-height: unset;
}

/* hide the navigation arrows on carousels */
.carousel-left-arrow, .carousel-right-arrow {
    display: none;
}