/* Stylesheet for the content of all project pages */

/*.content h1 {
    font-size: 2.5em;
}

.content h2 {
    font-size: 2em;
}

.content h3 {
    font-size: 1.5em;
}

.content h4 {
    font-size: 1.25em;
}

.content p, .content a {
    font-size: 1.2em;
}*/

.content p a {
    font-size: 1em; /* fixes the font size of a elements nested in p elements */
}

/* unvisited and visited */
/*.content a:link, .content a:visited {
    color: #45aa3d;*/  /* light green */ 
/*}*/

/* hover */
/*.content a:hover {
    color: #d96a20;*/ /* light orange */
/*}*/

/* active */
/*.content a:active {
    color: #ad420b;*/ /* dark orange */
/*}*/

img {
    max-width: 100%;
}

#project-title-container {
    display: table;
    width: 100%;
    white-space: nowrap;
}

#project-title-container h1 {
    float: left;
}

#project-link {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
}

#project-link a {   /* style to look like button */
    float: right;
    display: inline-block;
    border: 0.075em solid black;
    border-radius: 0.12em;
    font-size: 1.5em;
    padding: 0.75em 1.5em;
    margin-left: 1em;
    color: black;
    background-color: #91c48d; /* light green */
    transition: all 0.2s;
}
#project-link a:hover {
    background-color: #45aa3d;  /* dark green */
}

#project-title-container::after {
    content: "";
    display: block;
    clear: both;
}

#project-desc {
    margin-top: 0;
}

.project-buttons {
/*    margin: 1.5em 0;*/
    text-align: center;
}

.content .project-buttons a {
    display: inline-block;
    border: 0.075em solid black;
    border-radius: 0.12em;
    padding: 0.25em 1em;
    margin: 0.5em 0.5em;
    color: black;
    background-color: #e09a72; /* light orange */
    transition: all 0.2s;
}

.content .project-buttons a:hover {
    background-color: #d96a20;  /* dark orange */
}

.content ul {
    list-style-type: none;
}

.content ul.bulleted-list {
    list-style-type: disc;
}

/* ---- Copyable text box ---- */

.friend-link {
    text-align: center; /* center the outer grey div */
    margin: 1.5em auto;
}

.copyable-text-container {  /* outer grey div */
    display: inline-block;
    background-color: #ddd;
    padding: 0.25em 0.75em;
    border: 0.12em solid black;
    border-radius: 0.35em;
    position: relative;
    max-width: 100%;
}

.copyable-text-container span {
    display: inline-block;
    text-align: center;
    padding: 0.75em 0.5em;
}

.copyable-text-container span:first-child {
    padding-top: 0; /* gives even spacing when span elements are stacked*/
}

.copyable-text { /* inner grey span */
    background-color: #bbb;
    word-wrap: break-word;
    border: 0.005em solid black;
    border-radius: 0.35em;
    transition: all 0.25s ease-out;
    max-width: 100%;
    position: relative;
}

.text-popup {
    width: auto;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px !important;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
    cursor: default;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.text-popup-active {
    opacity: 1;
}

.text-popup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.copyable-text:hover {
    cursor: pointer;
    background-color: #aaa;
}

/* ----------- Card Carousel ----------- */

.carousel-container {
    position: relative;
    width: 100%;
}

.carousel-left-arrow, .carousel-right-arrow {
    display: none; /* initially hidden */
    cursor: pointer;
    font-size: 4em;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
    -webkit-user-select: none;
}
.carousel-left-arrow {
    left: 0;
}
.carousel-right-arrow {
    right: 0;
}

.carousel-card-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: visible;
    width: 100%;
}

.carousel-card-container::-webkit-scrollbar {
    width: 1em;
}

.carousel-card-container::-webkit-scrollbar-thumb {
    background-clip: content-box;
    border: 4px solid transparent;
    border-radius: 0.5em;
    box-shadow: inset 0 0 0 10px;
}

.carousel-card-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.carousel-card {
    display: flex;
    flex-direction: column;
    min-width: 17em;
    margin-top: 3.5em;
    margin-left: 3.125em;
    padding: 1em;
    background-color: #91c48d; /* light green */
    border: 0.1em solid black;
    border-radius: 0.625em;
    box-shadow: -0.2rem 0.2rem 1rem black;
    position: relative;
    left: 0;
}

.carousel-card, .carousel-card * {
    transition: all 0.4s ease-out;
}

.carousel-card h3, .carousel-card h4 {
    text-align: center;
    margin: 0.25em auto;
}

.carousel-card-container p {
    font-size: 1em;
}

.carousel-card:not(:first-child) { /* overlap cards */
    margin-left: -3.125em;
}

.carousel-card:last-child { /* add right margin so the last card doesn't get clipped when hovered */
    margin-right: 3.125em;
}

/* Classes for non-hoverable devices used in nate.js */
.carousel-card a.clickable-card-dest { /* style like a button, initially hidden */
    display: block;
    background-color: #eee;
    color: black;
    border-radius: 0.2em;
    text-align: center;
    overflow: hidden;
    margin: auto 0; /* center between description and progress bar elements */

    /* transition properties below */
    outline: 0 solid #fff0; /* black with 0% opacity */
    padding: 0;
    max-height: 0;
    transition: padding 0.4s ease-out, max-height 0.4s ease-out, outline 0.4s ease-in-out;
}
.carousel-card-active {
    transform: translateY(-2.5em) rotate(3deg);
    background-color: #45aa3d; /* dark green */
}
.carousel-card-shifted {
    position: relative;
    left: 3.625em;
}
.carousel-card-active a.clickable-card-dest { /* reveal button when the carousel card is active */
    outline: 0.12em solid #000;
    padding: 0.75em;
    max-height: 4em;    /* some height bigger than required to allow for transition */
}

/* Classes for hoverable devices */
@media (hover: hover) and (pointer: fine) {
    /* Slide selected card up */
    .carousel-card:hover {
        transform: translateY(-2.5em) rotate(3deg);
        transition: all 0.4s ease-out;
        cursor: pointer;
        background-color: #45aa3d; /* dark green */
    }
    /* Slide subsequent cards to the right */
    .carousel-card:hover ~ .carousel-card {
        position: relative;
        left: 3.625em;
        transition: 0.4s ease-out;
    }
    /* Show navigation arrows */
    .carousel-left-arrow, .carousel-right-arrow {
        display: inline;
    }
}

.difficulty-bar-container {
    text-align: center;
    margin-top: auto; /* set the difficulty bar at the bottom */
    padding-top: 1em;
}

.difficulty-bar-container p {
    margin: 0.1em 0;
    font-size: 0.8em;
}

.difficulty-bar {
    box-sizing: content-box;
    height: 0.25em;
    position: relative;
    background-color: #eee;
    border-radius: 1em;
    padding: 0.1em;
}

.difficulty-bar > span {
    display: block;
    height: 100%;
    background-color: black;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

/* ---- Euler Problem Pages --- */

.euler-problem-link-container {
    display: flex;
}

.back-link {
    align-self: center;
}

.back-link:hover {
    color: #ad420b; /* dark orange */
}

.back-link:hover i, #end-page-links i {
    color: initial;
}

.euler-problem-links {
    margin-left: auto;  /* floats links to the right */
}

.euler-problem-links a {    /* style to look like buttons */
    display: block;
    border: 0.075em solid black;
    border-radius: 0.12em;
    padding: 0.25em 0.5em;
    margin: 0.25em 0.5em;
    color: black;
    font-size: 1em;
    background-color: #e09a72; /* light orange */
    transition: all 0.2s;
}

.euler-problem-links a:hover {
    background-color: #d96a20; /* dark orange */
}

#end-page-links {
    display: flex;
    margin-top: 3em;
}

#end-page-links a {
    flex-basis: 0;
    flex-grow: 1;
}

#prev-problem {
    margin-right: 0.5em;
}
#prev-problem:hover {
    color: #ad420b; /* dark orange */
}
#next-problem {
    margin-left: 0.5em;
    text-align: right;
}
#next-problem:hover {
    color: #ad420b; /* dark orange */
}

a.wiki-link-inline {
    color: #45aa3d; /* light green */
}

a.wiki-link-inline:hover {
    color: #d96a20; /* light orange */
}

a.wiki-link-inline:active {
    color: #ad420b; /* dark orange */
}

.euler-problem-view {
    margin: 1.5em auto;
}

.euler-problem-view button {
    font-size: 1.2em; /* match size of p elements */
    padding: 0.4em;
}

.euler-problem-view blockquote > :first-child {
    margin-top: 0;
}
.euler-problem-view blockquote > :first-child::before {
    content: open-quote;
    font-size: 1.5em;
    line-height: 0.1em;
    margin-right: 0.2em;
    vertical-align: -0.15em;
}
.euler-problem-view blockquote > :last-child {
    margin-bottom: 0;
}
.euler-problem-view blockquote > :last-child::after {
    content: close-quote;
    font-size: 1.5em;
    line-height: 0.1em;
    margin-left: 0.2em;
    vertical-align: -0.15em;
}

.euler-problem-view blockquote {
    background-color: #eee;
    border: 0.075em solid black;
    padding: 0.5em;
    box-shadow: 0.3em 0.3em 0.5em #666;
    margin-top: 1.5em;      /* match margin of .euler-problem-view */
    margin-bottom: 0.8em;   /* extra space for shadow */
}

.euler-problem-view blockquote p, .euler-problem-view blockquote, a {
    font-size: 1em;
}

sup, sub {
    line-height: 0;
}

img, figure {
    display: block;
    margin: 2em auto;
}

figure img {
    margin: 0.5em auto;
}

figcaption {
    text-align: center;
    font-style: italic;
}
.content figcaption, .content figcaption a {
    font-size: 1em;
}

code, .mathjax-block {
    display: block;
    margin: auto 2em;
    padding: 1em;
    background-color: #eee;
    border: 0.075em solid #aaa;
    font-size: 1.25em;
}

.mathjax-block {
    font-family: unset;
}

.content .mathjax-block p {
    margin: 0 auto;
    font-size: 1.2rem;
}

pre {
    white-space: pre-wrap;
    tab-size: 4;
    margin: 0;
}
pre.small-tab {
    tab-size: 2;
}
pre.small-text {
    font-size: 0.9em;
}

.MathJax {
    font-size: 1em !important;
}

section {
    position: relative;
}

.section-link {
    color: #45aa3d; /* light green */
    font-style: italic;
}
.section-link:hover {
    color: #ad420b; /* dark orange */
}

#euler-implementation-anchor {
    visibility: hidden;
    position: absolute;
    /*top: -4rem;*/ /* allow space for topnav */
    top: -1rem;
}

/* ----------- Sudoku.html ----------- */

#sudoku-board-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
}

#board-left, #board-right {
    flex: 1;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 250px;
}

#board-left {
    align-items: flex-end;
    padding-right: 30px;
}
#board-right {
    align-items: flex-start;
    padding-left: 30px;
}
.left-panel, .right-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.panel-title {
    text-align: center;
    margin: 0 auto;
    padding: 3px 0;
    font-weight: bold;
}

.right-panel > *:not(:last-child), .left-panel > *:not(:last-child), #board-input > *:not(:last-child), #cell-input > *:not(:last-child) {
    margin-bottom: 0.5rem; /* space between vertical panel items */
}

/* -------- Sudoku board left panel -------- */

/* Puzzle box */
#puzzle-box, #custom-editor-box {
    display: flex;
    flex-direction: column;
    background-color: #91c48d; /* light green */
    border: 0.12rem solid black;
    text-align: center;
}
#puzzle-box button, #custom-editor-box button {
    text-align: center;
    font-size: 1em;
    padding: 3px 0;
    border: 0.12rem solid black;
    background-color: #91c48d; /* light green */
    transition: all 0.2s;
}
#puzzle-box button:hover, #custom-editor-box button:hover {
    cursor: pointer;
    background-color: #45aa3d; /* dark green */
}
#puzzle-box > *, #custom-editor-box > * {
    margin: 0 5%;
    margin-bottom: 0.5rem;    /* space between vertical puzzle box items */
}
#puzzle-box > *:first-child, #custom-editor-box > *:first-child {
    margin-top: 0.5rem;   /* match margin-bottom for even spacing */
}
#puzzle-box label, #custom-editor-box h4 {
    font-size: 1.25em;
    font-weight: normal;
}
#puzzle-box select {
    border: 0.12rem solid black;
    padding: 0;
    max-width: inherit;
}
.puzzle-buttons-row {
    display: flex;
    flex-wrap: wrap;    /* allow wrap to ensure buttons are displayed */
}
.puzzle-buttons-row button {
    flex: 1; /* fill all of the available space, share evenly*/
}
.puzzle-buttons-row > *:not(:last-child) {
    margin-right: inherit;  /* space between buttons */
}

/* Custom editor box */
#show-custom-editor {
    max-height: 0;
    overflow: hidden;
    transition: max-height ease-in-out 0.2s;
}
#custom-input-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#custom-save-button {
    position: relative; /* for text popup */
}

/* Cell input */
#cell-input {
    margin-top: auto; /* move board buttons to bottom */
    margin-bottom: 0; /* flush with bottom of sudoku board */
}
/* Digit type toggle buttons */
#digit-input-toggle-buttons {
    display: flex;
    justify-content: space-between;
}
#digit-input-solution, #digit-input-candidate {
    text-align: center;
    font-size: 1em;
    padding: 2px 0;
    width: 48%;
    border: 0.12rem solid black;
    transition: all 0.2s;
    cursor: pointer;
    background-color: #dedede;
    opacity: 0.4;
}
#digit-input-solution.digit-input-toggle-active,
#digit-input-candidate.digit-input-toggle-active {
    background-color: #c08dc4; /* light purple */
    opacity: 1;
}

/* Digit input buttons */
#digit-input-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "digit1 digit2 digit3"
        "digit4 digit5 digit6"
        "digit7 digit8 digit9"
        "digit0 digit0 digit0";
    width: 100%;
    grid-gap: 0.5em;
}
button.digit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0;
    border: 0.12rem solid black;
    font-size: 1.2em;
    font-weight: bold;
    background-color: #dedede; /* light grey */
}
/*button.digit-button i {
    margin: auto;
    font-size: 0.65em;
    pointer-events: none;
    visibility: hidden;
}*/
button.digit-button i.eraser {
    font-size: 1em;
    visibility: visible;
}
button.digit-button:hover {
    cursor: pointer;
}

/* selected cell */
button.digit-input-selected {
    background-color: #c08dc4; /* light purple */
}
/* locked cell */
/*button.digit-input-locked {
    background-color: #a659ab;*/ /* dark purple */
/*}
button.digit-input-locked .left-lock {
    visibility: visible;
}*/


/* -------- Sudoku board right panel -------- */

/* Strategy output */
#strategy-output {
    flex-grow: 1;   /* stretch to fill space */
    display: block;
    background-color: lightgrey;
    margin-bottom: auto; /* push board buttons to bottom */
}

/* Board buttons */
#board-buttons {
    display: flex;
    /*margin-top: auto;*/ /* move board buttons to bottom */
    margin-bottom: 0; /* flush with bottom of sudoku board */
}
#solve-button, #step-button {
    flex: 1; /* fill all of the available space, share evenly*/
    text-align: center;
    font-size: 1.25em;
    padding: 10px 0;
    border: 0.12rem solid black;
    background-color: #91c48d; /* light green */
    transition: all 0.2s;
}
#step-button {
    margin-right: 5%; /* space between buttons */
}
#solve-button:hover, #step-button:hover {
    cursor: pointer;
    background-color: #45aa3d; /* dark green */
}

/* ------- Sudoku board ------- */

.board-grid {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
        "box1 box2 box3"
        "box4 box5 box6"
        "box7 box8 box9";
    justify-content: center;
    width: min-content;
    margin: 0 auto;
}

.box-grid {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
        "cell1 cell2 cell3"
        "cell4 cell5 cell6"
        "cell7 cell8 cell9";
    justify-content: center;
    align-items: stretch;
    border-top: 0.3rem solid black;
    border-left: 0.3rem solid black;
}

.candidate-grid {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "can1 can2 can3"
        "can4 can5 can6"
        "can7 can8 can9";
    justify-content: center;
    align-content: center;
    line-height: initial;
    font-size: 14px;
    background-color: transparent;
    pointer-events: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.box-grid:nth-child(3n) {   /* boxes in the right column */
    border-right: 0.3rem solid black;
}
.box-grid:nth-last-child(-n+3) {    /* boxes in the bottom row*/
    border-bottom: 0.3rem solid black;
}
.cell:not(:nth-child(3n)) { /* every cell except those in the right column */
    border-right: 0.1rem solid black;
}
.cell:not(:nth-last-child(-n+3)) {  /* every cell except those in the bottom row */
    border-bottom: 0.1rem solid black;
}

.cell {
    width: 50px;
    height: 50px;
    position: relative;
    background-color: white;
    line-height: 50px;
    text-align: center;
    color: black;
}

.sudoku-board-hover .cell input[type=number] {
    cursor: pointer;
}

.cell input[type=number] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    padding: 0;
    font-size: 2rem;
    font-family: monospace;
    color: black;
    caret-color: transparent;
}
.cell input.clue-cell {
    background-color: #e8e8e8;
    font-weight: bold;
}
.cell input.cell-input-locked { /* locked, "clue" cell */
    pointer-events: none;
}

.cell input[type=number]:focus {
    background-color: #7dc0ed;  /* blue */
}

/* Remove arrows from number input */
.cell input::-webkit-outer-spin-button,
.cell input::-webkit-inner-spin-button {
    /* Chrome, Safari, Edge, Opera */
    -webkit-appearance: none;
    margin: 0;
}
.cell input[type=number] {
    /* Firefox */
    -moz-appearance: textfield;
}

.candidate {
    display: none;
    background-color: transparent;
}

.candidate-active {
    display: block;
}

.candidate-eliminated {
    background-color: #ff0000;
}

.candidate-solution {
    background-color: #45aa3d;
}

.box1 { grid-area: box1; }
.box2 { grid-area: box2; }
.box3 { grid-area: box3; }
.box4 { grid-area: box4; }
.box5 { grid-area: box5; }
.box6 { grid-area: box6; }
.box7 { grid-area: box7; }
.box8 { grid-area: box8; }
.box9 { grid-area: box9; }

.cell1 { grid-area: cell1; }
.cell2 { grid-area: cell2; }
.cell3 { grid-area: cell3; }
.cell4 { grid-area: cell4; }
.cell5 { grid-area: cell5; }
.cell6 { grid-area: cell6; }
.cell7 { grid-area: cell7; }
.cell8 { grid-area: cell8; }
.cell9 { grid-area: cell9; }

.can1 { grid-area: can1; }
.can2 { grid-area: can2; }
.can3 { grid-area: can3; }
.can4 { grid-area: can4; }
.can5 { grid-area: can5; }
.can6 { grid-area: can6; }
.can7 { grid-area: can7; }
.can8 { grid-area: can8; }
.can9 { grid-area: can9; }

#digitInput1 { grid-area: digit1; }
#digitInput2 { grid-area: digit2; }
#digitInput3 { grid-area: digit3; }
#digitInput4 { grid-area: digit4; }
#digitInput5 { grid-area: digit5; }
#digitInput6 { grid-area: digit6; }
#digitInput7 { grid-area: digit7; }
#digitInput8 { grid-area: digit8; }
#digitInput9 { grid-area: digit9; }
#digitInput0 { grid-area: digit0; }


/* ----------- Media Queries ----------- */

@media screen and (max-width: 1000px) {
    #sudoku-board-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    code, .mathjax-block {  /* full width code/math blocks */
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 670px) {
    #project-title-container {
        display: block;
        text-align: center;
    }

    #project-link {
        display: block;
    }

    #project-title-container::after {
        content: none;
    }

    #project-title-container h1, #project-link a {
        float: none;
    }

    #project-link a {
        margin: unset;
        padding: 0.5em 1em;
    }

    #project-desc, #project-title-container h1 {
        margin: 1rem 0;
    }

    .copyable-text-container { /* outer grey div */
        padding: 0.75em 0.5em;
    }

    .euler-problem-view blockquote {
        margin-left: 0.8em;
        margin-right: 0.8em;    /* just enough space for shadow */
    }
}