/* Stylesheet for the content of all project pages */

.content h1 {
    font-size: 3em;
}

.content h2 {
    font-size: 2em;
}

.content h3 {
    font-size: 1.5em;
}

.content p, .content a {
    font-size: 1.2em;
}

.content p a {
    font-size: 1em; /* fixes the font size of a elements nested in p elements */
}

#project-title-container {
    display: table;
    width: 100%;
    white-space: nowrap;
}

#project-title-container h1 {
    float: left;
}

#project-link {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
}

#project-link a {   /* style to look like button */
    float: right;
    display: inline-block;
    border: 0.075em solid black;
    border-radius: 0.12em;
    font-size: 1.5em;
    padding: 0.75em 1.5em;
    margin-left: 1em;
    color: black;
    /*background-color: #53e731aa;*/
    transition: all 0.2s;
}
#project-link a:hover {
    background-color: #53e731;
}

#project-title-container::after {
    content: "";
    display: block;
    clear: both;
}

.content ul {
    list-style-type: none;
}

/* unvisited and visited */
.content a:link, .content a:visited {
    color: #45aa3d; /* light green */
}

/* hover */
.content a:hover {
    color: #d96a20; /* light orange */
}

/* active */
.content a:active {
    color: #ad420b; /* dark orange */
}

@media screen and (max-width: 768px) {
    #project-title-container {
        display: block;
    }

    #project-link {
        display: block;
        text-align: center;
    }

    #project-title-container::after {
        content: none;
    }

    #project-title-container h1 {
        float: none;
    }

    #project-link a {
        float: none;
        margin: unset;
    }
}